@import "common";

#logo {
    a {
        text-transform: none;
    }
}

a {
    color: $foregroundDark;

    &:hover,
    &:focus,
    &:active {
        color: $foregroundLight;
    }
}

code {
    padding: 2px 4px;
    font-size: 90%;
    background-color: $backgroundLight;
    border-radius: 4px;
}
h3 {
    font-size: 1.9rem;
}
article {
    &.hentry {
        overflow: visible;
    }
    a {
        text-decoration: underline;
    }

    .entrymeta {
        a {
            text-decoration: none;
        }
    }

    p {
        img {
            display: block;
            margin: auto;
            border: 1px solid $gray;
            box-shadow: 0px 0px 8px $gray;
        }
    }
}

::selection {
    background: $selection;
}

#fr-about {
    margin-bottom: -10px;
    clear: both;
    overflow: hidden;

    img {
        max-width: 100px;
        width: 40%;
        float: left;
        margin-right: 10px;
        padding-top: 3px;
    }

    p {
        font-size: 90%;
        margin-bottom: 0;
    }
}

body { //body specified just to overwrite default theme css
       pre {
           background-color: $codeBackground;
            border: 1px solid $gray;
            line-height: 1.2;
            padding: 8px;

           > code {
                padding: 0;
                background-color: transparent;
                border-radius: 0;
           }
       }

    pre.prettyprint {
        background-color: $codeBackground;
        border-color: $gray;
        line-height: 1.2;
        padding: 8px;

        code {
            padding: 0;
            background-color: transparent;
            border-radius: 0;
        }

        .com {
            color: #008000;
        }

        .str, .tag {
            color: #A31515;
        }

        .kwd, .atv {
            color: #0000FF;
        }

        .typ {
            color: #2B91AF;
        }

        .lit, .atn {
            color: #FF0000;
        }

        .pun, .pln {
            color: #000000;
        }

        .dec {
            color: #800080;
        }
    }

    .gist {
        table {
            border: 0 !important;

            tr, td {
                border: 0 !important;
                line-height: 1.4;
            }
        }

        .blob-num {
            border-right: 1px solid #eee !important;
        }
    }
}
