#logo a {
  text-transform: none; }

a {
  color: #14B80C; }
  a:hover,
  a:focus,
  a:active {
    color: #078500; }

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #e7f5e7;
  border-radius: 4px; }

::selection {
  background: #b8e4a9; }

body pre.prettyprint {
  background-color: #fcfcfc;
  border-color: #ddd;
  line-height: 1.2;
  padding: 8px; }
  body pre.prettyprint code {
    padding: 0;
    background-color: transparent;
    border-radius: 0; }
  body pre.prettyprint .com {
    color: #008000; }
  body pre.prettyprint .str, body pre.prettyprint .tag {
    color: #A31515; }
  body pre.prettyprint .kwd, body pre.prettyprint .atv {
    color: #0000FF; }
  body pre.prettyprint .typ {
    color: #2B91AF; }
  body pre.prettyprint .lit, body pre.prettyprint .atn {
    color: #FF0000; }
  body pre.prettyprint .pun, body pre.prettyprint .pln {
    color: #000000; }
  body pre.prettyprint .dec {
    color: #800080; }

body .gist table {
  border: 0 !important; }
  body .gist table tr, body .gist table td {
    border: 0 !important;
    line-height: 1.4; }

body .gist .blob-num {
  border-right: 1px solid #eee !important; }

